extends layout

block content
  .jumbotron.jumbotron-fluid
    .container
      br
      br
      br
      br
      br
      h3.display-4 Welcome to CrossRoads.
      br
      hr
      br
      p.lead
        | Here at CrossRoads our goal is to help our students easily navigate the ups and downs of the on campus experience. On our site, one can find information from our past and current students on our blog page and forums. Information that’s geared towards improving your experience.
  