extends layout

block content
  //Bootstrap row starts here inside the main container from the layout file.
  h1.display-3 Welcome to CrossRoads.
      br
  p
    | Here at Crossroads our goal is to help our students  easily navigate the ups and downs of the on campus experience. On our site, one can find information from our past and current students on our blog page and forums. Information that&rsquo;s geared towards improving your experience.
    // <p><a class="btn btn-outline-dark text-dark" href="#" role="button">Learn more &raquo;</a></p>
  .container
    // Example row of columns
    .row
      .col-md-4
        h2 Blog
        p
          | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        // <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      .col-md-4
        h2 Forum
        p
          | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        // <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      .col-md-4
        h2 Information
        p
          | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit.
        // <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    hr

