extends layout

block content
  //Bootstrap row starts here inside the main container from the layout file.
  h1.display-3 Welcome to CrossRoads.
      br
  p
    | Here at Crossroads our goal is to help our students  easily navigate the ups and downs of the on campus experience. On our site, one can find information from our past and current students on our blog page and forums. Information that&rsquo;s geared towards improving your experience.
    // <p><a class="btn btn-outline-dark text-dark" href="#" role="button">Learn more &raquo;</a></p>
  .container
    // Example row of columns
    .row
      .col-md-4
        //h2 Forum
        h2 
          a(href="https://map.harvard.edu/pdf/8.5x11%20Campus%20Map.pdf") Campus Map
        p
          | Lost or new to Harvard? Can't find your way at the Harvard Campus? Download a free PDF copy of the Harvard campus map and find your way around. It covers all the Harvard schools at Cambridge.
        // <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        h5
          a(href="https://map.harvard.edu/pdf/8.5x11%20Campus%20Map.pdf") Download Campus Map
      .col-md-4
        //h2 Information
        h2 
          a(href="https://www.harvard.edu/on-campus/visit-harvard/tours") Harvard Tour
        p
          | New to Harvard or just visting? Try a Harvard tour. It's free and led by the Harvard students. The Official Harvard tour departs from the Harvard Information Center, in the Smith Campus Center. 
        // <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        h5
          a(href="https://www.harvard.edu/on-campus/visit-harvard/tours") Book a Tour
      .col-md-4
        //h2 Blog
        h2 
          a(href="https://store.thecoop.com/") Harvard COOP
        p
          | COOP is one of the largest college campus bookstores,an important resource for local students and their families to purchase textbooks, college logo merchandise, dorm room necessities, and so on. 
        // <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        h5
          a(href="https://store.thecoop.com/") Go To COOP

