
extends layout

block content
  .container-fluid
    .row
      //.col-sm-8.text-left
      .col-sm-12
        h1 Info page
        p
          | Here one can find not only information regarding the social hotspots, but links to important Harvard sites as well as the local restaurants.
    .row 
      .col-sm-6
        div
          h3 Harvard Links:
          ol(style="margin-left: 10px;")
            li
              a(href="https://canvas.harvard.edu/" target="_blank") Canvas
            li
              a(href="https://courses.harvard.edu/index.html" target="_blank") Course Catalog
            li Online Services:
            ul
              li
                a(href="https://dceweb.harvard.edu/prod/gowlogn3.taf?splash=extension&_ga=1.180365231.960854609.1445360021" target="_blank") Extension School
              li
                a(href="https://dceweb.harvard.edu/prod/gowlogn3.taf?splash=sum" target="_blank") Summer School
            li
              a(href="https://recreation.gocrimson.com/landing/index" target="_blank") Recreation
            li
              a(href="https://www.harvardhousingoffcampus.com" target="_blank") Off-campus Housing
            li
              a(href="https://sao.summer.harvard.edu/" target="_blank") Harvard Summer Activities
        div
          h3 Traffic:
          ol(style="margin-left: 10px;")
            li
              a(href="https://mbta.com" target="_blank") MBTA
            li
              a(href="http://www.transportation.harvard.edu/shuttle-van-services" target="_blank") Harvard Shuttle Bus
            li
              a(href="https://www.bluebikes.com" target="_blank") BlueBikes
      .col-sm-6  
        div
          h3 Social:
          ol(style="margin-left: 10px;")
            li
              | The Plaza is a great place for socializing. Events happen there on a weekly bases, like the farmer’s market that occurs there every Tuesday from June to November. A variety of different food trucks are there on a daily basis, allowing one to try new things.
        div
          h3 Local Restaurants:
          ol(style="margin-left: 10px;")
            li
              a(href="https://russellhousecambridge.com" target="_blank") Russell House Tavern
            li
              a(href="http://www.ottoportland.com" target="_blank") Otto Pizza
            li
              a(href="http://www.flatpatties.com" target="_blank") Flat Patties
            li
              a(href="http://lescambridge.com" target="_blank") Le’s Restaurant

    