
extends layout

block content
  br
  br
  br
  br
  .container
    h1 Useful Information
    .row.w-80.p-4
      .col-sm
        h4 Campus
        ul.list-group.list-group-flush
          li.list-group-item.list-group-item-action 
            a(href="https://canvas.harvard.edu/" target="_blank") Harvard Canvas
          li.list-group-item.list-group-item-action Campus Map
          li.list-group-item.list-group-item-action Harvard Summer School
          li.list-group-item.list-group-item-action Summer Activities
          li.list-group-item.list-group-item-action Off-campus Housing
      .col-sm
        h4 Traffic
        ul.list-group.list-group-flush
          li.list-group-item.list-group-item-action MBTA
          li.list-group-item.list-group-item-action Harvard Shuttle Bus
          li.list-group-item.list-group-item-action BlueBikes
      .col-sm
        h4 Food
        ul.list-group.list-group-flush
          li.list-group-item.list-group-item-action Harvard Food Courts
          li.list-group-item.list-group-item-action A Restaurant
          li.list-group-item.list-group-item-action B Restaurant
          li.list-group-item.list-group-item-action C Restaurant
          li.list-group-item.list-group-item-action D Restaurant
      .col-sm
        h4 Housing
        ul.list-group.list-group-flush
          li.list-group-item.list-group-item-action Harvard Food Courts
          li.list-group-item.list-group-item-action A Restaurant
          li.list-group-item.list-group-item-action B Restaurant
          li.list-group-item.list-group-item-action C Restaurant
          li.list-group-item.list-group-item-action D Restaurant
