
extends layout

block content
  br
  br
  br
  br
  .container
    h1 Useful Information
    .row.w-80.p-4
      .col-sm
        h4 Campus
        ul.list-group.list-group-flush
          li.list-group-item.list-group-item-action 
            a(href="https://canvas.harvard.edu/" target="_blank") Harvard Canvas
          li.list-group-item.list-group-item-action
            a(href="https://map.harvard.edu/" target="_blank") Campus Map
          li.list-group-item.list-group-item-action
            a(href="https://recreation.gocrimson.com/landing/index" target="_blank") Recreation
          li.list-group-item.list-group-item-action
            a(href="http://www.summer.harvard.edu/" target="_blank") Harvard Summer School
          li.list-group-item.list-group-item-action
            a(href="https://sao.summer.harvard.edu/" target="_blank") Summer Activities
          li.list-group-item.list-group-item-action
            a(href="https://dceweb.harvard.edu/prod/gowlogn3.taf?splash=sum" target="_blank") Online Service
      .col-sm
        h4 Traffic
        ul.list-group.list-group-flush
          li.list-group-item.list-group-item-action
            a(href="https://mbta.com/" target="_blank") MBTA
          li.list-group-item.list-group-item-action
            a(href="http://www.transportation.harvard.edu/shuttle-van-services" target="_blank") Harvard Shuttle Bus
          li.list-group-item.list-group-item-action
            a(href="https://www.bluebikes.com/" target="_blank") BlueBikes
      .col-sm
        h4 Food
        ul.list-group.list-group-flush
          li.list-group-item.list-group-item-action
            a(href="https://dining.harvard.edu/" target="_blank") Harvard Dining Service
          li.list-group-item.list-group-item-action
            a(href="http://www.harvardsquare.com/restaurants" target="_blank") Harvard Square Restaurants
          li.list-group-item.list-group-item-action
            a(href="https://scictr.fas.harvard.edu/home" target="_blank") Science Center Food Court
      .col-sm
        h4 Housing
        ul.list-group.list-group-flush
          li.list-group-item.list-group-item-action
            a(href="http://www.huhousing.harvard.edu/" target="_blank") On-campus Housing
          li.list-group-item.list-group-item-action
            a(href="https://www.harvardhousingoffcampus.com/" target="_blank") Off-campus Housing
          li.list-group-item.list-group-item-action
            a(href="http://www.huhousing.harvard.edu/other-housing-and-resources/resources" target="_blank") Campus Resources
          li.list-group-item.list-group-item-action
            a(href="https://www.extension.harvard.edu/resources-policies/resources/visiting-campus-finding-housing" target="_blank") HES Resources
