doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="")
    link(rel="icon" href="favicon.png")
    title CrossRoads
    // Bootstrap core CSS
    link(href="/stylesheets/bootstrap.min.css" rel="stylesheet")
    // Custom styles for jumborton
    link(href="/stylesheets/jumbotron.css" rel="stylesheet")
    // Custom styles for this template
    link(href="/stylesheets/styles.css" rel="stylesheet")
  nav.navbar.navbar-expand-md.navbar-dark.fixed-top(style="background-color: #990000;")
    a.navbar-brand(href="/") CrossRoads
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    #navbarsExampleDefault.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href="/")
            | Home 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href="/info") Campus Information
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Blog
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='/blogs') List
            .dropdown-divider
            a.dropdown-item(href='/blogs/create') Create New
      form.form-inline.my-2.my-lg-0(hidden="")
        input.form-control.mr-sm-2(type="text" placeholder="Search" aria-label="Search")
        button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search
main#main.main
  block content

include footer

//  Bootstrap core JavaScript
//==================================================
// Placed at the end of the document so the pages load faster
script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
script.window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"><\\/script>')
script(src="/javascripts/popper.min.js")
script(src="/javascripts/bootstrap.min.js")