body {
  padding-top: 3.5rem;
  font-family: "Lucida Console","Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

.main { 
  background: url("/images/harvard1.jpg");
  background-size: cover; 
  background-attachment: fixed;
  background-color: rgba(153, 0, 0, 0.8);
  color: black;
  text-shadow: white 0.1em 0.1em 0.2em;
}

.container1 {
  height: 640px;
  width: 80%;
  padding: 50px;
  margin: auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  /* Set the fixed height of the footer */
  height: 60px;
  
  /* Vertically center the text */
  line-height: 60px; 
}


.navbar, .navbar-toggler, .navbar-toggler-icon {
  height: 50px;
}