extends ../layout

block content
    //Bootstrap row starts here inside the main container coming from the layout file.
    .row
      .col-md-8.col-md-offset-2
        h2.mt-5 Add a Blog 
          small.text-muted (* required field)
        br
        if flashMsgSuccess && flashMsgSuccess.length > 0
                p.alert.alert-success #{flashMsgSuccess}
        if flashMsgError && flashMsgError.length > 0
                p.alert.alert-danger #{flashMsgFailure}
        //Create a new blog bootstrap form.
        form(method='POST' action='/blogs/create/')
          div.form-group
            label(for='title') Title *:
            input#title.form-control(type='text', placeholder='Blog Title' name='title', required autofocus)
          div.form-row
            //div.form-group.col-md-6
            div.form-group.col-md-12
                label(for='author') Author*:
                input#author.form-control(type='text', placeholder='Author' name='author', required autofocus)
            //div.form-group.col-md-6
                label(for='image_file_name') Image File Name:
                input#image_file_name.form-control(type='text', placeholder='Image File Name with Extension' name='image_file_name')
          div.form-group
            label(for='description') Text Contents *:
            textarea#description.form-control(type='text', rows='6' placeholder='Blog Text Contents' name='description', required autofocus)
          button.btn.btn-primary(type='submit') Add Blog
          | &nbsp;
          |
          a.btn.btn-primary(href='/blogs' role='button') Cancel